.app-one {
	padding:4rem;

}

.lessspace {
	margin-bottom:-0.5rem;
}
.greentext {
	color: #32a287;
}
.tantext {
	color:#f1ffe7;
	margin-top:-1rem;
}
a {
	color:#f1ffe7;
}
#app {
	display:flex;
	justify-content:center;
}
html {
	background-color: black;
}
body {
	background-color: black;
}

.app-one {
	background-color: black;
}
.app-one {
	max-width:1500px;
}

.resume-icon {
	width: 40px;
    position: relative;
    right: 3px;
    top: -4px;
}
@media (max-width: 639px) {
	
	.app-one {
		padding:1rem;
	}
}

